@use '../modules/globals' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *;

.hero-container {
    @include flex(flex-start, center, 0, column);
   
}

.hero{
    @include flex(center, center);
    width: 80vw;

    &__left{
        flex: 6;
        @include flex(flex-start, flex-start, 1rem, column);

        &__h1{
            font-size: 2rem;
        }
    }

    &__right{
        width: 20rem;
        flex: 7;
        animation: animate 2s infinite ease-in-out alternate;

        @keyframes animate{
            to{
                transform: translateY(20px);
            }
        }
    }
}