@use '../modules/globals' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *;


.who-container {
    height: 100vh;
    scroll-snap-align: center;
    @include flex(center);
}

.who{
    height: 100vh;
    scroll-snap-align: center;
    width: 1400px;
    @include flex(space-between, center);

    &__left{
        flex: 1;

        @media only screen and (max-width: 768px) {
          display: none;
        }
    }


    &__right{
        flex: 1;
        @include flex(center, normal, 1.2rem, column);

        @media only screen and (max-width: 768px) {
          align-items: center;
          text-align: center;
        }

        &__h1{
            font-size: 2rem;
        }
    }
}