@use '../modules/globals' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *;

.works-container {
    @include flex(center, center, 0, column);
}


.works{
    @include flex(center, center, 1rem);
    width: 80vw;

    &__left{
        @include flex(flex-start, flex-start, 1rem, column);

        &__h2{
            font-size: 2.5rem;
            font-weight: 900;
            cursor: pointer;

            &:hover{
                margin-left: 1rem;
            }
        }
    }

    &__right{
        width: 20rem;
        animation: animate 2s infinite ease-in-out alternate;

        @keyframes animate{
            to{
                transform: translateY(20px);
            }
        }
    }
}