@use '../modules/mixins' as *;
@use '../modules/variables' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: sans-serif;
    }

.component-container {
     height: 100vh;
     -webkit-scroll-snap-type: y mandatory; /* Webkit prefix */
     scroll-snap-type: y mandatory;
     scroll-behavior: smooth;
     overflow-y: auto;
     scrollbar-width: none;
     &::-webkit-scrollbar {
        display: none;
    }
    -ms-scroll-snap-align: center; /* Microsoft prefix */
    scroll-snap-align: center;
    // background: url('../../assets/bg.jpg');
}
   
.hero-container {
    background-color: darkgoldenrod;
    display: flex;

}

.contact-container {
    background-color: darkcyan;
}


.who-container {
    background-color: darkgrey;
}

.works-container {
    background-color: darkmagenta;
}
