// module within a module because
// var "$text-font" is used on line 23 
@use 'variables' as *;

// MIXINS MODULE

@mixin flex($justify: flex-start, $align: flex-start, $gap: 0, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction;
}

@mixin grid($place-items, $gap, $cols) {
    display: grid;
    place-items: $place-items;
    gap: $gap;
    grid-template-columns: repeat($cols, 1fr);
}

@mixin position($position, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// @mixin text($size, $color, $font-family: $text-font, $weight: normal, $border-radius: none, $border: none) {
//     font-size: $size;
//     color: $color;
//     font-family: $font-family;
//     font-weight: $weight;
//     border-radius: $border-radius;
//     border: $border;
// }

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

@mixin margin-padding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}
